# Specify filepatterns you want git to ignore.

**/node_modules/**/*

**/dist/**
**/.env
**/vendor
**/coverage/**
app/desktop_app/server/server

.DS_Store

spikes/**

server/server

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

