.team-names-container-wrapper {
    background-color: #fff;
    height: 100%;
    width: 249px;

    border-radius: 0 10px 0 0;
    position: relative;
}

.team-names-container-wrapper .teams-nav-container {
    height: 70px;
    border-bottom: solid 1px #e4e4e4;
    padding: 0 25px;
    position: relative;

    display: grid;
    grid-template-rows: 1fr;
}

.team-names-container-wrapper .teams-nav-container label {
    font-size: 10px;
    color: #9f9f9f;
    display: none;
}

.team-names-container-wrapper .teams-nav-container button.add-team-btn {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #eae7e7;
    color: #707070;
    font-weight: 200;
    font-size: 20px;
    align-self: center;
}

.team-names-container-wrapper .teams-nav-container button.add-team-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.team-names-container-wrapper .teams-nav-container button.add-team-btn:active {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #e4e4e4;
}

.team-names-container-wrapper .team-names-container {
    text-align: center;

    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row;

    justify-items: center;
}

.team-names-container-wrapper li.team-name-outer-wrapper {
    display: grid;
    justify-items: center;
    width: 100%;
    border-bottom: solid 1px #e4e4e4;
}

.team-names-container-wrapper li.team-name-outer-wrapper .team-name-wrapper {
    display: grid;
}

.team-names-container-wrapper li.team-name-outer-wrapper .team-name {
    width: 200px;
    border: solid 1px #f8f8f8;
    height: 40px;
    background-color: #fff;
    line-height: 40px;

    align-self: center;
    border-radius: 10px;
    color: #707070;
    font-weight: 200;
    font-size: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .team-names-container-wrapper .team-names-container li.selected {
    background-color: #eae7e7;
}

.team-names-container-wrapper .team-names-container li.selected div {
    background-color: #707070;
    color: #f3f5f4;
} */

.team-names-container li.selected-epic-container {
    background-color: #f9f8f8;
    /* opacity: 0.5; */
}

.team-names-container-wrapper li.selected-epic-container .team-name {
    border: solid 1px #0c4472;
    border-width: 2;
}
