.screen-nav-container {
    /* border: solid 1px blue; */

    display: grid;
    height: 105px;

    grid-template-columns: 250px 1fr;
    grid-template-rows: 105px;
}

.screen-nav-container .teams-container {
    border-right: solid 1px #707070;

    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding: 15px;
}

.screen-nav-container .epics-container {
    /* border: solid 1px green; */

    display: inline-block;
    background-color: #F8F8F8;
    padding: 15px;
}