.epics-container-wrapper {
    display: block;

    position: relative;
    height: 40px;
}

svg {
    margin-top: 70px;
}

svg rect.epics-container {
    fill: transparent;
    opacity: 0.5;
    width: 100%;
}

svg line.epics-container-divider {
    stroke: #eae7e7;
    stroke-width: 1px;
}

svg g.epics-container-group:hover path.new-epic-btn-container {
    fill: #f8f8f8;
}

svg g.epics-container-group:hover text.new-epic-btn-text {
    fill: #e4e4e4;
}

svg g.epics-container-group rect.epic {
    fill: #fff;
    stroke: #707070;
    stroke-width: 1.5px;
    opacity: 0.5;
}

svg g.epics-container-group text.epic-name {
    pointer-events: none;
    font-size: 10px;
    fill: #707070;
}

svg g.epics-container-group path.new-epic-btn-container {
    fill: transparent;
}

svg g.epics-container-group text.new-epic-btn-text {
    pointer-events: none;
    font-size: 12px;
    fill: transparent;
}

svg g.epics-container-group:hover path.new-epic-btn-container:hover {
    fill: #707070;
    cursor: pointer;
}

svg g.epics-container-group:hover text.new-epic-btn-text:hover {
    fill: #e4e4e4;
}

svg g.epics-container-group rect.selected-epic-container {
    fill: #f2f0f0;
    opacity: 0.5;
}

svg g.epics-container-group rect.selected-epic {
    fill: #1f8ce8;
    stroke-width: 2px;
    stroke: #0c4472;
    opacity: 1;
}

svg g.epics-container-group text.selected-epic {
    fill: #f8f8f8;
}

svg g.epics-container-group rect.upstream-highlighed-epic {
    fill: #fff;
    stroke: #1f8ce8;
    stroke-width: 2px;
}

svg g.epics-container-group rect.downstream-highlighed-epic {
    fill: #f2f0f0;
    stroke: #9f9f9f;
}

svg g.epics-container-group rect.dimmed-epic {
    stroke: #f2f0f0;
    stroke-width: 1;
    opacity: 1;
}
svg g.epics-container-group text.dimmed-epic {
    fill: #9f9f9f;
    opacity: 0.5;
}
