.epics-container-wrapper {
    /* border-top: solid 1px transparent; */
    /* border-bottom: solid 1px #eae7e7; */
    border: solid 1px blue;

    /* padding: 11px 0; */
    display: block;

    position: relative;
    height: 40px;
}

.epics-container-wrapper:nth-of-type(0) {
    /* border: solid 1px blue; */
    /* top: 120px; */
}
.epics-container-wrapper:first-of-type {
    /* border-top: none; */
    /* top: 120px; */
}

svg {
    margin-top: 70px;
}
svg rect.epics-container {
    fill: transparent;
    opacity: 0.5;
    /* display: block; */
    /* white-space: nowrap; */
}
svg line.epics-container-divider {
    stroke: #eae7e7;
    stroke-width: 1px;
}
svg rect.epic {
    fill: #fff;
    /* stroke: #eae7e7; */
    stroke: #707070;
    stroke-width: 1px;
}

svg text.epic-name {
    pointer-events: none;
    font-size: 10px;
    fill: #707070;
}

svg rect.new-epic-btn-container {
    fill: #f3f5f4;
    stroke: none;
    stroke-width: 1px;
}

svg rect.new-epic-btn-container:hover {
    fill: #707070;
    cursor: pointer;
}

svg rect.new-epic-btn-head {
    pointer-events: none;
    fill: transparent;
    stroke-width: 1px;
}

svg text.new-epic-btn-text {
    pointer-events: none;
    font-size: 10px;
    fill: #eae7e7;
}
svg line.new-epic-btn-line {
    pointer-events: none;
    fill: #fff;
    stroke: #eae7e7;
    stroke-width: 1px;
}
