.team-epics-container-wrapper {
    border-top: solid 1px #707070;
    overflow-x: hidden;
}

.team-epics-scroll-container {
    position: relative;
    overflow-x: scroll;
    display: grid;
}

#dependency-connections {
}

#dependency-connections .connection {
    stroke: #1f8ce8;
    stroke-width: 0.5px;
    fill: none;
    stroke-dasharray: 2px 2px;
    stroke-linecap: round;
    /* stroke-dasharray: none; */
}

#dependency-connections .selected-epic-connection {
    stroke-width: 0.5px;
    stroke-dasharray: none;
}
