.selected-epic-details-view-container {
    width: 300px;
    height: 100%;

    border-left: solid 1px #707070;
    background-color: #eae7e7;

    display: grid;
    grid-template-rows: min-content min-content auto;
    grid-auto-flow: row dense;
    row-gap: 5px;
}

.hide-epic-details {
    width: 0;
    overflow: hidden;
}

.selected-epic-details-view-container label {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0;
    padding: 0;
    line-height: 12px;
}

.selected-epic-details-view-container h3 {
    font-size: 24px;
    color: #707070;
    font-weight: 300;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
}

.selected-epic-details-container__team-name input,
.selected-epic-details-container__epic input,
.selected-epic-details-container__epic select {
    font-size: 24px;
    color: #707070;
    font-weight: 300;
    margin: 0;
    display: block;

    width: 100%;
    padding: 0px;
    border: none;
    border-bottom: solid 2px #fff;
}

.selected-epic-details-container__team-name input:hover,
.selected-epic-details-container__epic input:hover,
.selected-epic-details-container__epic select:hover {
    border-bottom: solid 2px #eae7e7;
}

.selected-epic-details-container__team-name input:focus,
.selected-epic-details-container__epic input:focus,
.selected-epic-details-container__epic select:focus {
    outline: none;
    border-bottom: solid 2px #2680eb;
    color: #2680eb;
}

.selected-epic-details-container__team-name,
.selected-epic-details-container__epic,
.selected-epic-details-container__upstream,
.selected-epic-details-container__downstream,
.selected-epic-details-container__delete-controls {
    padding: 20px 15px;
    background-color: #fff;
}

.selected-epic-details-container__upstream .dependency-info,
.selected-epic-details-container__downstream .dependency-info {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content auto;
    column-gap: 10px;
    align-self: center;
}

.selected-epic-details-container__upstream .cell-right,
.selected-epic-details-container__downstream .cell-right {
    display: grid;
    align-self: center;
    justify-self: right;
    grid-auto-columns: min-content;
}

.selected-epic-details-container__team-name button.round-btn {
    border-radius: 15px;
    border: solid 1px #707070;
    width: 30px;
    height: 30px;
    color: #707070;
    background-color: #fff;
}

.selected-epic-details-container__upstream button.flat-btn,
.selected-epic-details-container__downstream button.flat-btn {
    border: none;
    font-size: 24px;
    font-weight: 100;
    color: #9f9f9f;
    background-color: #fff;
}

.selected-epic-details-container__team-name button.round-btn:hover,
.selected-epic-details-container__upstream button.flat-btn:hover,
.selected-epic-details-container__downstream button.flat-btn:hover {
    color: #eae7e7;
    background-color: #707070;
    cursor: pointer;
}

.selected-epic-details-container__delete-controls div.warning {
    border: solid 1px #c21d4f;
    border-radius: 5px;
    /* background-color: #fff; */
    padding: 10px 5px;
}

.selected-epic-details-container__delete-controls label.warning {
    color: #c21d4f;
    display: inline-block;
    margin-bottom: 10px;
}

.selected-epic-details-container__delete-controls .button-container {
    text-align: center;
}

.selected-epic-details-container__delete-controls .deleteButton {
    background-color: #c21d4f;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    align-self: center;
}
