.home-screen .upstream-dependency-dialog {
    width: 600px;
    height: 350px;
}

.upstream-dependency-dialog .upstream-dependency-dialog-view-container {
    height: 100%;
}

.upstream-dependency-dialog .title-view-container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
}
.upstream-dependency-dialog .title-view-container h2 {
    font-size: 24px;
    font-weight: 100;
    color: #707070;
    text-align: center;
    display: block;
    border-bottom: solid 5px #eae7e7;
    padding-bottom: 15px;
    grid-row: 1;
}

.upstream-dependency-dialog .title-view-container img {
    position: absolute;
    top: 35px;
    width: 180px;
    margin: 0 auto;
    grid-row: 1;
}

.upstream-dependency-dialog .tiny-dialog-field-caption {
    color: #9f9f9f;
}

.upstream-dependency-dialog .title-view-container .epic-name {
    font-size: 18px;
    color: #707070;
}

.upstream-dependency-dialog .depdencies-body-container {
    margin-top: 30px;
    color: #707070;
}

.upstream-dependency-dialog
    .depdencies-body-container
    .dependency-epics-container {
    overflow: auto;
    height: 160px;
    margin-top: 10px;
    border-bottom: solid 5px #eae7e7;
    font-size: 12px;
    line-height: 26px;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: row dense;
    row-gap: 0px;
}

.upstream-dependency-dialog .dialog-buttons .btn {
    border-radius: 40px;
}

.upstream-dependency-dialog .row-container {
    display: grid;
    grid-template-columns: 105px 150px 1fr;
    margin-bottom: 1px;
}

.upstream-dependency-dialog .row-container > div {
    display: inline-block;
}
.upstream-dependency-dialog .depdencies-body-container .header {
    border-bottom: solid 1px #707070;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.upstream-dependency-dialog .depdencies-body-container .header * {
    line-height: 26px;
}

.upstream-dependency-dialog .row-container .dependency-epic-period,
.upstream-dependency-dialog .row-container .dependency-team-name,
.upstream-dependency-dialog .row-container .dependency-epic-name {
    padding-left: 5px;
}

.upstream-dependency-dialog .depdencies-body-container .data-items {
    transition: 0.4s all ease;
}

.upstream-dependency-dialog .depdencies-body-container .data-items:hover {
    background-color: #eae7e7;
    color: #707070;
    cursor: pointer;
    padding-left: 10px;
    transition: 0.4s all ease;
}

.upstream-dependency-dialog .depdencies-body-container .selected {
    background-color: #707070;
    color: #eae7e7;
}

.upstream-dependency-dialog .depdencies-body-container .selected:hover {
    background-color: #707070;
    color: #fff;
}

.upstream-dependency-dialog
    .depdencies-body-container
    .dependency-epics-counter {
    font-size: 10px;
    color: #9f9f9f;
    margin-left: 5px;
}
